/* body{
    margin: 0%;
    padding: 0%;
}

.qud{
    margin-top: 0%;
    background-color: palevioletred;
    position: fixed;
    width: 100%;
}

.name{
    text-align: center;
}

.imgone{
    margin-top: 100px;
    height: 100%;
}

img {
    margin-left: 8%;
} */